{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  &rsaquo; 프로젝트 문서
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <div class="module">
    <table>
      <caption>찰칵밥상 프로젝트 문서</caption>
      <thead>
        <tr>
          <th scope="col">문서</th>
          <th scope="col">설명</th>
          <th scope="col">형식</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in pictable_admin_docs %}
        <tr>
          <th scope="row"><a href="{% url 'admin:pictable_doc_detail' doc.slug %}">{{ doc.title }}</a></th>
          <td>{{ doc.description }}</td>
          <td>{{ doc.type|upper }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
